p{
  color: blue;
}
.parent{
  display: flex;
  justify-content: flex-end;
}
.child{
  color: blue;
}
.container{
  position: relative;
}
img{
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
}
.box{
  width: 800px;
  height: 150px;
  background-color: blue;
  position: absolute;

