p {
  color: blue;
  font-weight: bold;
}
.parent {
  display: flex;
  justify-content: flex-end;
}
.child1 {
  color: blue;
  margin-right: 800px;
  font-weight: bold;
}
.child {
  color: blue;
  margin-left: 3%;
  font-weight: bold;
}
.container {
  position: relative;
}
img {
  width: 700px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 30;
}
.box {
  width: 800px;
  height: 150px;
  background-color: blue;
  position: absolute;
  top: 400px;
  z-index: 10;
}

.title {
  font-size: 50px;
  font-weight: lighter;
  position: absolute;
  top: 350px;
}
